@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); /* Star font */

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-syntax-highlighter .react-syntax-highlighter {
  background-color: transparent !important; /* Remove background */
  box-shadow: none !important; /* Remove shadow if any */
  border: none !important; /* Remove border */
}

.inline-block {
  display: inline-block;
}
.form-header {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.reg-flex {
  display: flex;
  flex-direction: column;
  width: 540px;
}
.center {
  margin: auto;
  width: 36%;
  padding: 10px;
}
.text {
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  font-size: 32px;
}
.smalltext {
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  font-size: 16px;
}
.box {
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
}
.submitbox {
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  width: 540px;
}
.submitbutton {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  width: 90px;
}
.error
{
  color: red;
  font-size: 16px;
}

/* !!!!! I (Joey) got the following from https://codepen.io/jamesbarnett/pen/najzYK Credit to James Barnett*/

/****** Style Star Rating Widget *****/

fieldset, label { margin: 0; padding: 0; }

.rating {
  border: none;
  float: left;
  display: inline;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }